.content-right {
    width: 100%;
}

// .header-top {
//     border-radius: 10px;
//     background: rgb(31, 139, 207);
//     background: linear-gradient(90deg, rgba(31, 139, 207, 1) 24%, rgba(85, 208, 242, 1) 100%);
// }

span.title {
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
}

.status-bar {
    width: 100%;
    padding: 10px 0;
    justify-content: space-evenly;
}

.status-item {
    height: 110px;
    width: 300px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: space-evenly;

    span:nth-last-child(1) {
        font-size: 22px;
    }
}

.btn-custom {
    color: white;
    background-color: #db302f;
    height: 150px;
    border-radius: 10px;
    font-size: 22px;

    label {
        margin-left: 20px;
    }
}

label.title {
    font-size: 20px;
    font-weight: bold;
    line-height: 2;
    padding: 0 10px;
    width: 100%;
    color: white;
    border-radius: 10px;
    background: rgb(31, 139, 207);
    background: linear-gradient(90deg, rgba(31, 139, 207, 1) 24%, rgba(85, 208, 242, 1) 100%);
}

.device-info {
    line-height: 25px;

    .device-index {
        width: 25px;
        height: 25px;
        color: white;
        border-radius: 8px;
        background: rgb(31, 139, 207);
        background: linear-gradient(135deg, rgba(31, 139, 207, 1) 24%, rgba(85, 208, 242, 1) 100%);
        font-weight: bold;
    }
}

.nav-link {
    color: unset;
}

.container {
    height: 395px;
    overflow: hidden;
}

.container-table {
    max-height: 440px;
    overflow-y: auto;
}

table {
    border-collapse: collapse;

    thead th {
        position: sticky;
        top: -0.5px;
        background-color: #fff;
    }

    th:nth-child(2),
    th:nth-child(3) {
        width: 10px;
    }

    .status {
        display: block;
        width: 20px;
        height: 20px;
        margin: auto;
        border-radius: 50%;
        background-color: #39c35c;
    }
}