.logo {
    height: 100px;
    padding: 10px 0;
    margin-bottom: 20px;

    img {
        height: 100%;
    }
}

.sidebar-menu {
    position: fixed;
    width: 250px;
    height: 100vh;
    background-color: #29648a;
}

.title {
    margin-left: 10px;
}

.sidebar-nav {

    &.menu {
        height: 400px;
        border-bottom: 1px solid #ccc;

        .menu-content {
            padding: 0 24px;
            overflow-y: auto;
        }
    }

    &.select {
        padding: 0 24px;
    }

    nav {
        text-align: left;
        line-height: 40px;


        .sidebar-nav-link {
            display: block;
            text-decoration: none;
            font-size: 14px;
            font-weight: bold;
            background-color: transparent;
            color: #fff;
            padding: 0 24px;
            border-radius: 10px;
            transition: all .3s;

            &.active {
                background-color: #fff;
                color: #464866;
            }

            &:hover {
                color: #fff;
                background-color: #2e9cca;
            }
        }
    }
}